
.metadata

*.log

.metadata/.bak_0.log

.metadata/.log

.metadata/.plugins/org.eclipse.andmore.android.logger/environment.log

.metadata/.plugins/org.eclipse.andmore.android.logger/studio.log

.metadata/.plugins/org.eclipse.core.resources/.projects/android/.indexes/50/history.index

.metadata/.plugins/org.eclipse.core.resources/.projects/android/.indexes/7/26/history.index

.metadata/.plugins/org.eclipse.core.resources/.projects/android/.indexes/a0/d6/history.index

.metadata/.plugins/org.eclipse.core.resources/.projects/android/.indexes/a0/d6/properties.index

.metadata/.plugins/org.eclipse.core.resources/.projects/android/.indexes/e4/81/dc/52/21/history.index

.metadata/.plugins/org.eclipse.core.resources/.projects/android/.indexes/properties.index

.metadata/.plugins/org.eclipse.core.resources/.projects/android/org.eclipse.jdt.core/state.dat

.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources

.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi

.metadata/.plugins/org.eclipse.jdt.core/1252312768.index

.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt

.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log

.metadata/version.ini

.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.fdt

.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.fnm

.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.nrm

.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/write.lock

.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments_1

.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/segments.gen

.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.tis

.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.tii

.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.prx

.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.frq

.recommenders/index/http___download_eclipse_org_recommenders_models_mars_/_0.fdx

.metadata/version.ini

.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log

.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt

.metadata/.plugins/org.eclipse.jdt.core/1252312768.index

.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi

.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources

.metadata/.plugins/org.eclipse.core.resources/.projects/android/org.eclipse.jdt.core/state.dat

.metadata/.plugins/org.eclipse.core.resources/.projects/android/.indexes/properties.index

.metadata/.plugins/org.eclipse.core.resources/.projects/android/.indexes/e4/81/dc/52/21/history.index

.metadata/.plugins/org.eclipse.core.resources/.projects/android/.indexes/a0/d6/properties.index

.metadata/.plugins/org.eclipse.core.resources/.projects/android/.indexes/a0/d6/history.index

.metadata/.plugins/org.eclipse.core.resources/.projects/android/.indexes/7/26/history.index

.metadata/.plugins/org.eclipse.core.resources/.projects/android/.indexes/50/history.index

.metadata/.plugins/org.eclipse.andmore.android.logger/studio.log

.metadata/.plugins/org.eclipse.andmore.android.logger/environment.log

.metadata/.log

.metadata/.bak_0.log
